$bg-op: rgba(0,0,0,0.5);

.row {
  &__cases {
    display: flex;
    flex-direction: column;
    max-height: 80vh;
    text-align: center;

    .cases-container {
      display: flex;
      flex-direction: column;
      max-height: 85%;
      overflow: hidden;
      background-color: $bg-op;

      .cases-search {
        margin: 0 auto;
        width: 90%;
        margin-top: 10px;

        .search-country {
          width: 90%;
          opacity: 0.6;
          transition: .2s all ease-in;

          &:hover {
            opacity: 1;
            transition: .2s all ease-in;
          }
        }
      }
    }

    .by-country {
      max-height: 90%;
      overflow-y: scroll;

      .country-cell {
        position: relative;
        display: flex;
       
        .confirmed {
          flex: 0 1 33%;
          text-align: right;
          color: darkred;
        }

        .country {
          flex: 1 1 33%;
          text-align: left;
          padding-left: 10px;
          max-width: 50%;
        }

        .flag {
          position: absolute;
          right: 15px;
          height: 1rem;
        }
      }
    }

    .switcher {
      cursor: default;
      padding: 10px 0 5px 0;
    }

    .last-update {
      display: flex;
      flex-direction: column;
      justify-content: center;
      min-height: 15%;
      margin-top: 15px;
      background-color: $bg-op;
    }
  }

  &__map {
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 80vh;

    .map-integrate {
      height: 85%;
      max-height: 85%;
      background-color: $bg-op;
    }

    .switcher {
      background-color: $bg-op;
      cursor: default;
      padding: 10px 0 5px 0;
    }

    .footer {
      min-height: 15%;
      margin-top: 15px;
      background-color: $bg-op;
      display: flex;
      justify-content: flex-end;

      .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }

      .footer__contacts {
        display: flex;
        flex-direction: column;
      }

      .footer-logo {
        width: 50px;
      }
    }
  }

  &__global {
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 80vh;

    .deskboard {
      height: 45%;

      p {
        color: darkred;
      }

      li {
        background-color: $bg-op;
      }
    }

    .switcher {
      cursor: default;
      background-color: $bg-op;
    }

    .graph {
      margin-top: 15px;
      height: 55%;
      background-color: $bg-op;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .chart-wrapper {
        margin: 10px 5px;
        height: 90%;
      }

      .switcher {
        background-color: transparent;
        padding: 10px 0 5px 0;
      }
    }
  }
}

.mapboxgl-canvas {
  cursor: default;
}

::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  background: #e1e1e1;
  border: 0px none #ffffff;
  border-radius: 40px;
}
::-webkit-scrollbar-thumb:hover {
  background: #ffffff;
}
::-webkit-scrollbar-thumb:active {
  background: #898080;
}
::-webkit-scrollbar-track {
  background: #666666;
  border: 0px none #ffffff;
  border-radius: 13px;
}
::-webkit-scrollbar-track:hover {
  background: #666666;
}
::-webkit-scrollbar-track:active {
  background: #333333;
}
::-webkit-scrollbar-corner {
  background: transparent;
}