.container {
  min-width: 100vw;
  padding: 0 15px;
}

.nav {
  &-wrapper {
    padding: 0;
    margin: 0;

    .logo {
      margin: 0;
    }
  }
}

.row .col.s2 {
  padding: 0;
  margin: 0 0.75rem;
}

.row {
  padding-top: 15px;
  display: flex;
  flex-direction: row;

  &__cases {
    height: 80vh;
      overflow: hidden;
      font-size: 20px;
      display: flex;
      flex-direction: column;

      .cases-container {
        height: 85%;
        display: flex;
        flex-direction: column;

        .cases-search {
          display: flex;
          height: 10%;
          align-items: center;
          border: blue solid 1px;
          border-radius: 15px;
          margin: 10px;
          overflow: hidden;
          background: rgba(0, 0, 0, 0.3);
  
          .search-country {
            color: black;
            padding-left: 8px;
            border: none;
            margin: 0;
            height: 100%;
          }
          .search-country::placeholder {
            color: rgba(0, 0, 0, 0.3);
          }
        }

        .by-country {
          height: 90%;
          overflow-y: scroll;
        }
        .country-cell {
          display: flex;
          flex-direction: r;
        }
    
        .country {
          padding-left: 10px;
          flex: 1 0 55%;
        }

        .confirmed {
          text-align: right;
          flex: 1 0 45%;
          color: red;
        }
      }
    .switcher {
      font-size: 15px;
      text-align: center;
      cursor: default;
      
      span {
        cursor: pointer;
      }
    }

    .last-update {
      height: 15%;
      margin-top: 15px;
      text-align: center;
    }
  }

  &__map {
    height: 80vh;
    display: flex;
    flex-direction: column;
    .map-integrate {
      height: 85%;
    }

    .switcher {
      font-size: 15px;
      text-align: center;
      cursor: default;

      span {
        cursor: pointer;
      }
    }

    .footer {
      height: 15%;
      margin-top: 15px;
    }
  }

  &__global {
    .deskboard {
      display: flex;
      flex-direction: column;
      height: 45%;
      .global {
        height: 30%;
        text-align: center;
      }
      .switcher {
        text-align: center;
        cursor: default;

      span {
          cursor: pointer;
        }
      }
    }

    .global {
      p {
        margin: .2em 0;
        font-size: 2em;
      }
    }
  }
}

.graph {
  position: relative;
  height: 55%;
  padding: 15px;

  .chart-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
  }
}






